[submodule "peri.dot/version/modules/click"]
	path = peri.dot/version/modules/click
	url = https://github.com/pallets/click.git
[submodule "peri.dot/version/modules/colorama"]
	path = peri.dot/version/modules/colorama
	url = https://github.com/tartley/colorama.git
